.fail-div {
  background-color: rgba(224, 15, 15, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
