.alert-success {
  background-color: rgb(50, 122, 50, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
