.leaderboard {
  display: flex;
  justify-content: space-around;

  &__li {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;

    &:nth-child(even) {
      background-color: rgb(225, 225, 225);
    }
  }

  &__recent-scores {
    width: 50%;
    padding: 5rem;

    &--btn {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      margin-bottom: 2.5rem;
    }
  }

  &__add-score {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    position: relative;

    h2 {
      margin-bottom: 2.5rem;
    }

    input {
      margin: 1rem 0;
      padding: 0.3rem;
    }

    button {
      width: 40%;
      padding: 0.3rem;
      align-self: flex-end;
    }
  }
}

.refresh-btn {
  width: 25%;
}
