<html>
  <head>
    <meta charset='utf-8' />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta
      name='description'
      content='{{htmlWebpackPlugin.options.description}}'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body>
    <section class='leaderboard'>
      <h1 class='leaderboard__h1'>Leaderboard</h1>
      <div class='leaderboard__recent-scores'>
        <h2>Recent scores</h2>
        <button>Refresh</button>
        <ul>
          <li>Name: 100</li>
          <li>Name: 20</li>
          <li>Name: 50</li>
          <li>Name: 78</li>
          <li>Name: 125</li>
          <li>Name: 77</li>
          <li>Name: 42</li>
        </ul>
      </div>
      <div class='leaderboard__add-score'>
        <h2>Add your score</h2>
        <input type='text' placeholder='Your name' />
        <input type='text' placeholder='Your score' />
        <button>Submit</button>
      </div>
    </section>
  </body>
</html>